@charset "UTF-8";
/*=========================
文件名  ：_mixin.scss
说  明  ：sass mixin函数
=========================*/
/* 函数：rem雪碧图 */
/** @desc  三角形 @param $width @param $height @param $color @param $direction: top bottom left right */
/** @param $color @param $direction: top bottom left right vertical all radius,  default: all */
/**
* @desc 列表是否存在
*/
/** @param $color @param $direction: top bottom left right vertical all radius,  default: all @param $pseudo: after before, default: after @param $radius default: 1px */
.we-radio { position: relative; width: 20px; height: 20px; line-height: 1; cursor: pointer; }
.we-radio:before { content: ""; display: block; width: 100%; height: 100%; border-radius: 50%; border: 1px solid #666; box-sizing: border-box; }
.we-radio:after { content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 50%; height: 50%; -webkit-transform: translate(-50%, -50%) scale(0.4); transform: translate(-50%, -50%) scale(0.4); border-radius: 50%; overflow: hidden; -webkit-transition: all .2s; transition: all .2s; }
.we-radio:checked:before { border-color: #fc9153; }
.we-radio:checked:after { background-color: #fc9153; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
.we-radio:disabled { cursor: default; }
.we-radio:disabled:before { border-color: #ccc; }
.we-radio:checked:disabled:after { background-color: #ccc; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
